.DS_Store
.idea
.ipynb_checkpoints/
.vscode
__pycache__/
*.bin
*.pkl
*.pt
*.pyc
*.npy
input.txt

experimental.py
experiments/mnl_results
experiments/llm_results
experiments/synthetic_results
experiments/var_results

log.txt
*.png
softmax/
mnl/data
.pytest_cache/

llms/queries
llms/weights
